@{
  Layout = "_Layout";
}

  <div class='container'>
      <div class='row'>
           <div class='page-heading'>
               <h1>Country Data</h1>
               <p>Below is a list of country data.</p>
           </div>
               @foreach (var country in Model)
               {
                  <div class='panel panel-default'>
                      <div class='panel-heading'>@country.GetName()</div>
                      <div class='panel-body'>
                      Code: @country.GetCode()<br/>
                      Continent: @country.GetContinent()<br/>
                      Population: @country.GetPopulation()<br/>
                      Head Of State: @country.GetHeadOfState()<br/>
                      </div>
                  </div>
               }
       </div>
  </div>
